@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    background: #ffff;
}

:root{
    --btn:orange;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(206, 95, 61, 0.787);
}

/* / Menu style start / */
.container{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/New-blog-graphic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    padding:1rem;
}

h1{
    color:#ffff;
    padding: 2rem;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 5rem;
}

span{
    color:var(--btn);
}

.container .card-content{
    display: flex;
    text-align: center;
    text-transform: uppercase;
    width: 70%;
    margin: auto;
}

.container .card-content .card{
    background: rgb(219, 212, 212);
    border-radius: .5rem;
    color:var(--light-color);
    height: 30vh;
    margin: 1rem;
    width: 100%;
}

.container .card-content .card .card1{
    width: 20%;
    margin: auto;
}

.container .card-content .card .card2{
    width: 13%;
    margin: auto;
}

.container .card-content .card .btn{
    margin: auto;
    padding: .5rem;
    margin-top: 3rem;
    background: var(--btn);
}

/* / Menu style end / */

/* / create style end / */

content{
    padding: 1rem;
}


.nav-bar h1{
    color: black;
}

a .btn{
    margin-right: 7rem;
    margin-top: 7rem;
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

section{
    width: 60%;
    margin: auto;
}

.box-content{
    background: rgba(128, 128, 128, 0.397);
    width: 90%;
    padding: 3rem;
    margin-bottom: 3rem;
}

.discription{
    background: darkcyan;
    padding: 3rem;
    width: 89%;
    border-left: 9px orange solid;
    border-radius: 5px 0px 0px 0px;
}

input[type='discription']{
    width: 450px;
    padding: 15px;
    border:1px solid;
    outline: none;
}

input[type= 'question']{
    width: 400px;
    padding: 15px;
    margin-left: 3rem;
    border:1px solid;
    outline: none;
}

input[type= 'poin']{
    outline: none;
    width: 5%;
    padding: 5px;
    height: 3vh;
    text-align: center;
    margin-left: 90%;
}

input[type='text'] {
    padding: 10px;
    width: 300px;
    border:1px solid;
    border-radius: .5rem;
    outline: none;
    margin-left: 5rem;
    margin: 1rem;
}

.button{
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    margin-top: 2rem;
}

.add {
  background-color: rgba(0, 119, 255, 0.801);
  border-radius: 7px;
  color: #ffff;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  width: 20%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  margin-left: 30rem;
  margin-top: 1rem;
}

.add:hover{
    padding-left: .5rem;
    background-color:rgb(30, 110, 202);
    color: #000;
    transition: 400ms;
}

.delete {
    background-color: rgba(255, 0, 0, 0.801);
    border-radius: 7px;
    color: #ffff;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    width: 20%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
}

.delete:hover{
    background:rgb(160, 24, 24);
}

.edit{
  border-radius: 7px;
  color: #ffff;
  background:darkcyan;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  width: 20%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  margin-left: 2rem;
}

.edit:hover{
    background: rgb(4, 98, 98);
}

.box-content .answer{
    margin-left: 5rem;
} */

/* / -------------------- display question-------------- / */

.quiz-done{
    margin-top: 10rem;
    background-color:rgba(128, 128, 128, 0.397) ;
    width: 56%;
    padding: 2rem;
    border-top: 5px orange solid;
    border-radius: 5px 5px 0px 0px;
    margin-left: 20%;
    margin-bottom: 3rem;
}

.content-intruction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

hr{
    height: .5vh;
    background:rgb(110, 110, 110);
}

.content-answer{
    line-height: 2;
}

.question{
    font-size: 1.3rem;
}

.intruction{
    font-size: 1.5rem;
}